.zui-input-group {
  .ant-row.ant-form-item {
    margin-bottom: 0 !important;
  }
  &.zui-input-with-tips {
    margin-bottom: 8px !important;
  }

  .zui-input-group-addon {
    display: inline-block;
    height: 32px;
    line-height: 30px;
    color: #3c495c;
    text-align: center;
    background-color: #eee;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    span {
      line-height: 32px;
    }
  }

  .zui-input-tips {
    display: inline-block;
    padding-top: 5px;
    line-height: 18px;
  }
}
