/log/
/.idea/
/.vscode/
/build/
/tmp/cache/.data.db-shm
/tmp/cache/.data.db-wal
/demo/out/
/conf/
/bin/
/test/zd/output/
/test/zd/.idea/
/nohup.out
/test/zd/conf/
/test/zd/log/
/demo/out/
/test/zd/._config.yaml
/test/zd/._default.yaml
/._config.yaml
/._default.yaml
/res/res.go

/qshell.log
/log/
/data/test/
/test/out/
/yaml/article/chinese/slang/out/
/runtime/protobuf/go
/runtime/protobuf/out/
/users/common/
*.exe
/ui/package-lock.json
/demo/mock/output/
/upload/
/tmp/cache/.data.db
/tmp/.temp.yaml
/tmp/.default.yaml
/tmp/.config.yaml

/client/node_modules
/client/out
/client/ui
/client/.webpack

/zendata
client/yarn-error.log
/cmd/test/command/allure-results/
