/log/
/.idea/
/build/
/tmp/cache/.data.db-shm
/tmp/cache/.data.db-wal
/demo/out/
/conf/
/bin/
/test/ztf/output/
/test/ztf/.idea/
/nohup.out
/test/ztf/conf/
/test/ztf/log/
/demo/out/
/test/ztf/._config.yaml
/test/ztf/._default.yaml
/._config.yaml
/._default.yaml
/res/res.go
/tmp/.temp.yaml
/tmp/.default.yaml
/tmp/.config.yaml
/qshell.log
/log-agent/
/data/test/
/test/out/
/log-agent/
/src/test/proto/person.pb.go
/src/test/proto/dist/
/yaml/article/chinese/slang/out.txt
